body { padding-top: 50px; }

#loginForm .form-control { width: 100px;}

div #carous {
	width: 100%;
	height: 600px;
}

#slide1 {
	height: 600px;
	background: url("../images/slide1.jpg") top center no-repeat;
}

#slide2 {
	height: 600px;
	background: url("../images/slide2.jpg") top center no-repeat;
}

#slide3 {
	height: 600px;
	background: url("../images/slide3.jpg") top center no-repeat;
}

#curso {  height: 650px}

.curso-header {
	line-height: 48px; font-size: 32px; font-weight: 300; margin-bottom: 40px;
}

#curso .col-md-4 { font-size: 1.2em}